In [1]:
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
district= pd.read_csv('district.csv', delimiter=',')

In [3]:
district

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590

In [4]:
#rename
district= district.rename(columns= {"A1":"district_id"})
district= district.rename(columns= {"A2":"district_name"})
district= district.rename(columns= {"A3":"region"})
district= district.rename(columns= {"A4":"no_inha"})
district= district.rename(columns= {"A5":"no_mun_inha<499"})
district= district.rename(columns= {"A6":"no_num_inha 500-1999"})
district= district.rename(columns= {"A7":"no_num_inha 2000-9999"})
district= district.rename(columns= {"A8":"no_num_inha >10000"})
district= district.rename(columns= {"A9":"no_cities"})
district= district.rename(columns= {"A10":"ratio_urban_inha"})
district= district.rename(columns= {"A11":"averge_Salary"})
district= district.rename(columns= {"A12":"unem_rate_1995"})
district= district.rename(columns= {"A13":"umem_rate_1996"})
district= district.rename(columns= {"A14":"no_enterpreneurs_per_1000_inhabitants"})
district= district.rename(columns= {"A15":"no_crimes_1995"})
district= district.rename(columns= {"A16":"no_crimes_1996"})

In [5]:
district['unem_rate_1995'].replace('?',0,inplace=True)
district['no_crimes_1995'].replace('?',0,inplace=True)

In [6]:
#change types 
district['unem_rate_1995']= pd.Series(district.unem_rate_1995.astype(float))
district['no_crimes_1995']= pd.Series(district.unem_rate_1995.astype(float))

In [7]:
district

,district_id,district_name,region,no_inha,no_mun_inha<499,no_num_inha 500-1999,no_num_inha 2000-9999,no_num_inha >10000,no_cities,ratio_urban_inha,averge_Salary,unem_rate_1995,umem_rate_1996,no_enterpreneurs_per_1000_inhabitants,no_crimes_1995,no_crimes_1996
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,0.29,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,1.67,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,1.95,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,4.64,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,3.85,3040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,3.33,4433
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,4.75,18347
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,5.38,4505
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,4.73,2807
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,4.01,3590